doctype html
html(lang="en")

  head
    meta(charset='utf-8')
    meta(name="viewport", content="width=device-width,initial-scale=1.0")
    title A boilerplate

    link(rel='stylesheet', href="/common.css")
    block _styles

  body

    block _content

    include ../_includes/copyright

    script(src='//cdnjs.cloudflare.com/ajax/libs/coffee-script/1.7.1/coffee-script.min.js')
    script(src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js")
    script(src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js")
    script(src='//knockoutjs.com/downloads/knockout-3.0.0.js')
    block _scripts
