doctype html

html(lang="en")

  head
    meta(charset='utf-8')
    meta(name="viewport", content="width=device-width,initial-scale=1.0")

    title A boilerplate

    !=css("application")    // assets/css/application.styl

    block _styles

  body

    block _content

    script(src='//cdnjs.cloudflare.com/ajax/libs/coffee-script/1.7.1/coffee-script.min.js')
    script(src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js")
    script(src="//netdna.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js")

    // MVVM frameworks
    script(src='//knockoutjs.com/downloads/knockout-3.2.0.js')
    script(src='//cdnjs.cloudflare.com/ajax/libs/vue/0.10.6/vue.min.js')
    script(src='http://cdn.ractivejs.org/latest/ractive.js')

    !=js("application")    // assets/js/application.coffee

    block _scripts

