extends _layouts/default

block _styles
  !=css("application")
  :stylus
    .fa
      font-size 24px

block _content
  h1 hi
  .container
    // see http://getbootstrap.com/css/#grid-options
    // xs <  768px
    // sm >= 768px
    // md >= 992px
    // lg >= 1200px
    .row
      .col-sm-6.col-md-3 node-kiiapp
      .col-sm-6.col-md-3 boilerplate
      .col-sm-6.col-md-3 #{version}
      .col-sm-6.col-md-3
        i.fa.fa-github
        img(src="/public/images/twitter_alt.png")


block _scripts

  !=js("application")

  :coffeescript
    console.log "hello, hello, hello"
