extends _layouts/default 

block _content
  .container
    .row
      .col-xs-8.col-sm-6.col-md-3
        form.role(action='/login')
          input.form-control(type='email', id='email', placeholder='Email')
          input.form-control(type='password', id='password', placeholder='Password')
          .checkbox
            label
              input(type='checkbox')
              | Save session
          button.btn.btn-default(type='submit') Login
