extends _layouts/default 

block _content
  .container
    .row
      col-sm-12.col-md-12
        =session.error
    hr
    .row
      col-sm-12.col-md-12
        form.role.form-inline(action='/sign-in')
          input.form-control(name='username', placeholder='Username')
          input.form-control(name='password', placeholder='Password')
          button.btn.btn-default(type='submit') Sign-in with an existing user
    hr
    .row
      col-sm-12.col-md-12
        form.role.form-inline(action='/sign-up')
          input.form-control(name='username', placeholder='Username')
          input.form-control(name='password', placeholder='Password')
          button.btn.btn-default(type='submit') Sign-up creating a new user

    hr
    .row
      col-sm-12.col-md-12
        include ./_includes/copyright
